<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqAlceJLaZOwHIUTKyLM9JBjUqYOLEgyM</string>
	<key>GCM_SENDER_ID</key>
	<string>953336269887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nineDartScore</string>
	<key>PROJECT_ID</key>
	<string>nine-dart-score</string>
	<key>STORAGE_BUCKET</key>
	<string>nine-dart-score.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953336269887:ios:22facb3399a96dd18cbc8a</string>
</dict>
</plist>